extends layout

block content
  div.container
    h1 Congratulations!
    h2 transaction with txRef #{txRef} of K#{amount} was successful
    br
    br
    a(href="http://localhost:3000")
      button.button return to home
