body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
}

.container {
  padding-top: 10%;
  text-align: center;
}

.button {
  width: 30%;
  color: white;
  font-size: 1.2rem;
  margin-top: 10%;
  display: inline-block;
  padding: 8px 24px;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #4B53C1;
  cursor: pointer;
  box-shadow: 0 5px #5E2C89;
}

.button:hover {
    opacity : 1;
}

.button:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}